<%- include('template/header') -%>
<%- include('template/navBar')  %> 
<h2>Productos</h2>
<% if (arrayProductos.length > 0) { %>
<h2><%= arrayProductos[0].title %></h2>
<ul>
  <% for( const producto of arrayProductos ) { %>
  <h3><%= producto.title %></h3>
  <h4><%= producto.price %></h4>
  <h5><%= producto.thumbnail %></h5>
  <img src="<%= producto.thumbnail  %>" alt="" srcset="">
  <% } %>
</ul>
<% } else { %>
<h2><%= 'No Hay Productos' %></h2>
<% }; %>
 <%- include('template/footer') -%>
